body {
    background-color: teal;
}

h1 {
  color: black;
  margin-left: 20px;
}


<style>
.form {
    width: 250px;
    height: 330PX;
    color: #fff;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%; 
    padding: 40px 25px;
    border-radius: 10px;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.buttonLogin {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.buttonLogin:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #acdb10;
}

.button3:hover {
  background-color: #acdb10;
  color: white;

}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #acdb10;
}

.button4:hover {
        background-color: #acdb10;
        color: white;
    }

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #acdb10;
}

.button5:hover {
        background-color: #acdb10;
        color: white;
    }

.button6 {
  background-color: white;
  color: black;
  border: 2px solid #acdb10;
}

.button6:hover {
        background-color: #acdb10;
        color: white;
    }

.button7 {
  background-color: white;
  color: black;
  border: 2px solid #acdb10;
}

.button7:hover {
        background-color: #acdb10;
        color: white;
    }
	
	.button8 {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.button8:hover {
  background-color: #04AA6D;
  color: white;
}

.buttonInsta {
  background-color: white;
  color: black;
  border: 2px solid #FFC0CB;
}

.buttonInsta:hover {
  background-color: #FFC0CB;
  color: white;
}

.buttonLogin {
       top:20%;
       left:40%;
       width:100px;
       height:20px;
       position: relative;
       z-index: 2;
        
     }
.button2 {
       top:30%;
       left:40%;
       width:100px;
       height:20px;
       position: relative;
       z-index: 2;
        
     }
.button3 {
       top:40%;
       left:40%;
       width:100px;
       height:20px;
       position: relative;
       z-index: 2;
        
     }
.button4 {
    top: 50%;
    left: 40%;
    width: 100px;
    height: 20px;
    position: relative;
    z-index: 2;
}

.button5 {
    top: 60%;
    left: 40%;
    width: 100px;
    height: 20px;
    position: relative;
    z-index: 2;
}

.button6 {
    top: 70%;
    left: 40%;
    width: 100px;
    height: 20px;
    position: relative;
    z-index: 2;
}

.button7 {
    top: 80%;
    left: 40%;
    width: 100px;
    height: 20px;
    position: relative;
    z-index: 2;
}

.button8 {
       top:20%;
       left:40%;
       width:100px;
       height:20px;
       position: relative;
       z-index: 2;
        
     }
    
    .buttonInsta {
       top:20%;
       left:40%;
       width:100px;
       height:20px;
       position: relative;
       z-index: 2;
        
     }

</style>


