body {
    background-color: teal;
}

.header{
  color: #008AD8;
  text-align: center;
}

.header p {
  color: #6441a5;
  text-align: center;
}

.container {
  width: 100%;
  text-align: center;
}


.indexBR {
  text-align: center;
  cursor:default;
}


/* footer */
.footer {
  position: fixed;
  padding: 1px;
  text-align: center;
  background: transparent;
  color:white;
  bottom: 0%;
  left: 0%;
  font-size: 10px;
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}


.button {
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}

/* homepage enter button */
.enterButton{
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.buttonEnter {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
  width:100px;
  height:90px;
}

.buttonEnter:hover {
  background-color: #04AA6D;
  color: white;
}


/* my twitch link button */
.buttonTwitch {
  background-color: white;
  color: black;
  border: 2px solid #6441a5;
  width: 100px;
  height: 20px;
}

.buttonTwitch:hover {
        background-color: #6441a5;
        color: white;
    }

/* dustingillis.online button */
.buttonResume {
  background-color: white;
  color: black;
  border: 2px solid #AB822E;
  width:100px;
  height:20px;
}

.buttonResume:hover {
  background-color: #AB822E;
  color: white;
}
/* instagram button */
.buttonInsta {
  background-color: white;
  color: black;
  border: 2px solid #FFC0CB;
  width:100px;
  height:20px;
}

.buttonInsta:hover {
  background-color: #FFC0CB;
  color: white;
}
/* snapchat button */
.buttonSnap {
  background-color: white;
  color: black;
  border: 2px solid #FFFF00;
  width:100px;
  height:20px;
}

.buttonSnap:hover {
  background-color: #FFFF00;
  color: white;

}
/* twitter button */
.buttonTwt {
  background-color: white;
  color: black;
  border: 2px solid #008AD8;
  width: 100px;
  height: 20px;
}

.buttonTwt:hover {
        background-color: #008AD8;
        color: white;
    }

/* gta rp button */
.buttonRpquick {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
  width:100px;
  height:20px;
}

.buttonRpquick:hover {
  background-color: #04AA6D;
  color: white;
  }

/* button centering */
.buttonCentering{

  text-align: center;

}




